[package]
name = "plotly"
version = "0.8.2"
description = "A plotting library powered by Plotly.js"
authors = ["Ioannis Giagkiozis <i.giagkiozis@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/igiagkiozis/plotly"
documentation = "https://docs.rs/plotly"
repository = "https://github.com/igiagkiozis/plotly"
edition = "2018"
keywords = ["plot", "chart", "plotly"]

exclude = ["target/*"]

[features]
kaleido = ["plotly_kaleido"]
plotly_ndarray = ["ndarray"]
plotly_image = ["image"]
wasm = ["getrandom", "js-sys", "wasm-bindgen", "wasm-bindgen-futures"]

[dependencies]
askama = { version = "0.11.0", features = ["serde-json"] }
dyn-clone = "1"
erased-serde = "0.3"
getrandom = { version = "0.2", features = ["js"], optional = true }
image = { version = "0.24.2", optional = true }
js-sys = { version = "0.3", optional = true }
plotly_derive = { version = "0.8.2", path = "../plotly_derive" }
plotly_kaleido = { version = "0.3.0", path = "../plotly_kaleido", optional = true }
ndarray = { version = "0.15.4", optional = true }
once_cell = "1"
serde = { version = "1.0.132", features = ["derive"] }
serde_json = "1.0.73"
serde_repr = "0.1"
serde_with = "2"
rand = "0.8"
wasm-bindgen = { version = "0.2", optional = true }
wasm-bindgen-futures = { version = "0.4", optional = true }

[dev-dependencies]
csv = "1.1.6"
image = "0.24.4"
itertools = "0.10.3"
itertools-num = "0.1.3"
ndarray = "0.15.4"
plotly_kaleido = { version = "0.3.0", path = "../plotly_kaleido" }
rand_distr = "0.4"
