[package]
name = "plotly_kaleido"
version = "0.8.4"
description = "Additional output format support for plotly using Kaleido"
authors = ["Ioannis Giagkiozis <i.giagkiozis@gmail.com>"]
license = "MIT"
readme = "README.md"
workspace = ".."
homepage = "https://github.com/igiagkiozis/plotly"
documentation = "https://docs.rs/plotly_kaleido"
repository = "https://github.com/igiagkiozis/plotly"
edition = "2018"
keywords = ["plot", "chart", "plotly", "ndarray"]

exclude = ["target/*", "kaleido/*", "examples/*"]

[dependencies]
serde = { version = "1.0.132", features = ["derive"] }
serde_json = "1.0.73"
base64 = "0.13.0"
dunce = "1.0.2"
directories = "4.0.1"

[dev-dependencies]
zip = "0.6.6"

[build-dependencies]
zip = "0.6.6"
directories = "4.0.1"
