<html>
<head><meta charset="utf-8" /></head>
<body>
    <div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_SVG"></script>
        <script type="text/javascript">if (window.MathJax) {MathJax.Hub.Config({SVG: {font: "STIX-Web"}});}</script>
        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
        <script type="text/javascript">{{ plotly_javascript }}</script>
            <div id="ef7091f1-7d0f-444f-a53c-941be30103a8" class="plotly-graph-div" style="height:100%; width:100%;"></div>
            <script type="text/javascript">
                
                window.PLOTLYENV=window.PLOTLYENV || {};                    
                if (document.getElementById("ef7091f1-7d0f-444f-a53c-941be30103a8")) {

                    {{ plot_data }}

                    Plotly.newPlot('ef7091f1-7d0f-444f-a53c-941be30103a8', data, layout,
                        {"responsive": true})


                };
                
            </script>
        </div>
</body>
</html>